node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Ethereum Sepolia
ignition/deployments/sepolia_v*/artifacts/*.dbg.json
ignition/deployments/sepolia_v*/build-info

# Ethereum Mainnet
ignition/deployments/mainnet_v*/artifacts/*.dbg.json
ignition/deployments/mainnet_v*/build-info
